
<div  class = "example-button-row" >
  <img src="">


  <p>
      <mat-toolbar >


          <div class="logo">
              <img src="assets\imagens/material-ui-icon-1024x814-y19z5udj.png" alt="logo">

           </div>

           <mat-toolbar>
      <h1>Clean Finance</h1>




        </mat-toolbar>
       <button  mat-raised-button>LOGIN</button>
       <button mat-raised-button> CADASTRE-SE</button>

      </mat-toolbar>
    </p>



    <section>
      <div class="example-label">Listagem de Clientes</div>
      <div class="example-button-row">
        <button mat-stroked-button >Clientes</button>
        <button mat-stroked-button >Cartões</button>
        <button mat-stroked-button >Compras</button>
        <button mat-stroked-button >Relatórios</button>

      </div>
    </section>

