
.mat-toolbar {
  background-color: cornflowerblue;
  color: white;

}

#container{

}

.logo{

width: 20px;
height: 60px;
border: none;
fill-rule: nonzero;
stroke: none;
margin-right: 19px;
padding-right: 19px;

img{
  width: 40px;
  height: 40px;
  border: none;
  margin-top: 0;
  padding-left: 0;
}
}


.cadastre-se{
background-color: black;
float: right;

}

.login{
background-color: black;
float: right;


}

.lenha{
background-color: black;
float: right;

}

.example-label{
  text-align: center;
}

.example-button-row{
 text-align: center;

}
